{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>T-Nova Marketplace</title>

    <link rel="stylesheet" href="{% static 'roboto-fontface/css/roboto-fontface.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'angular-motion/dist/angular-motion.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'angular-dialog-service/dist/dialogs.css' %}"> -->

    <link rel="stylesheet" href="{% static 'ui-select/dist/select.css' %}">
    <link rel="stylesheet" href="{% static 'angular-rangeslider/angular.rangeSlider.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/css/loader.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/css/login.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/box.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body ng-app="dashboard">

<div ng-repeat="alert in alerts" class="alert alert-[[ alert.type ]] [[ alert.position ]]" ng-bind-html="[[ alert.msg ]]">

</div>

<div ui-view></div>
<script src="{% static 'dashboard/js/metrics.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.js' %}"></script>
<!-- <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>  -->
<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>


<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/yaml/yaml.js' %}"></script>
<!-- <script src="{% static 'codemirror/addon/fold/foldcode.js' %}"></script> -->


<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'angular-ui-router/release/angular-ui-router.js' %}"></script>
<script src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
<!-- <script src="{% static 'angular-animate/angular-animate.js' %}"></script>  -->
<script src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>

<!-- <script src="{% static 'angular-strap/dist/angular-strap.js' %}"></script>  -->
<!-- <script src="{% static 'angular-strap/dist/angular-strap.tpl.js' %}"></script>  -->

<script  src="{% static 'angular-bootstrap/ui-bootstrap.js' %}"></script>
<script  src="{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

<script src="{% static 'angular-bootstrap-checkbox/angular-bootstrap-checkbox.js' %}"></script>
<script src="{% static 'angular-modal-service/dst/angular-modal-service.js' %}"></script>
<script src="{% static 'angular-rangeslider/angular.rangeSlider.js' %}"></script>
<script src="{% static 'angular-ui-codemirror/ui-codemirror.js' %}"></script>
<!-- <script src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script> -->
<script src="{% static 'ui-select/dist/select.js' %}"></script>

<script src="{% static 'dashboard/js/custom/ng-file-upload.js' %}"></script>
<!-- <script src="{% static 'dashboard/js/custom/ng-file-upload-all.js' %}"></script>  -->

<script src="{% static 'highcharts/highcharts.src.js' %}"></script>
<script src="{% static 'highcharts-ng/dist/highcharts-ng.js' %}"></script>

<!-- <script  src="{% static 'angular-bootstrap/ui-bootstrap.js' %}"></script> -->
<!-- <script src="{% static 'angular-dialog-service/dist/dialogs.js' %}"></script> -->

<script src="{% static 'lodash/lodash.js' %}"></script>
<script src="{% static 'restangular/dist/restangular.js' %}"></script>

<script src="{% static 'dashboard/js/libs/moment.min.js' %}"></script>
<script src="{% static 'dashboard/js/libs/angular-moment.min.js' %}"></script>

<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/routes.js' %}"></script>

<script src="{% static 'dashboard/js/users.js' %}"></script>
<script src="{% static 'dashboard/js/vnfs.js' %}"></script>
<script src="{% static 'dashboard/js/services.js' %}"></script>
<script src="{% static 'dashboard/js/images.js' %}"></script>
<script src="{% static 'dashboard/js/misc.js' %}"></script>

<script src="{% static 'dashboard/js/services/alertService.js' %}"></script>

</body>

</html>
