{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NS Diagram</title>


    <link rel="stylesheet" href="{% static 'dashboard/diagram/joint.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/diagram/custom_ns.css' %}">

    <script src="{% static 'dashboard/diagram/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/diagram/lodash.min.js' %}"></script>
    <script src="{% static 'dashboard/diagram/backbone-min.js' %}"></script>
    <script src="{% static 'dashboard/diagram/joint.js' %}"></script>
    <script src="{% static 'dashboard/diagram/models_ns.js' %}"></script>


    <script>

        $(document).ready(function () {

            $.ajaxSetup( { "async": false } );

            var selected_flavor = 'basic';
            var vnf_flavour = 'gold';

            //var hashValue = location.hash;
            //hashValue = hashValue.replace(/^#/, '');
            //if (hashValue == 'gold' || hashValue == 'silver' || hashValue == 'bronze'){
            //    selected_flavor = hashValue;
            //}

            var nsd_id = $("#paperCanvas").data('id');


            $.getJSON("/service-catalog/service/catalog/" + nsd_id, function (nsd) {

                var constituent_vnfs = [];
                var vlinks = [];
                var ext_vlinks = [];

                //$.each(nsd.nsd.sla[0].constituent_vnf, function (constituent_vnf_index, constituent_vnf) {
                    //constituent_vnf_ids.push(constituent_vnf.vnf_reference);
                //});

                $.each(nsd.nsd.sla[0].constituent_vnf, function (constituent_vnf_index, constituent_vnf) {
                    $.getJSON("/vnfs/" + constituent_vnf.vnf_reference + "/vnfd", function (vnfd) {
                        constituent_vnfs.push(vnfd);

                    });
                });


                $.each(nsd.nsd.vld.virtual_links, function (vlink_index, vlink) {

                    if (vlink.external_access) {
                        ext_vlinks.push('ext_' + vlink.alias);
                    }

                });
                //$.each(constituent_vnfs, function (vnfd_index, vnfd) {

                //});

                var network_colors = ['#1843a5', '#ec7639', '#2aa54d', '#cb1022', '#a5b9ce', '#f3d086', '#7367b1'];

                var connect = function (source, sourcePort, target, targetPort, color) {
                    var link = new joint.shapes.devs.Link({
                        source: {id: source.id, selector: source.getPortSelector(sourcePort)},
                        target: {id: target.id, selector: target.getPortSelector(targetPort)}
                    });
                    link.attr({'.connection': {stroke: color}});
                    link.addTo(graph).reparent();
                };


                var graph = new joint.dia.Graph();

                var paper_canvas_div = $('#paperCanvas');
                var paper_canvas_width = paper_canvas_div.width();
                var paper_canvas_height = paper_canvas_div.height();
                var paper_div = $('#paper');

                var paper = new joint.dia.Paper({
                    el: paper_div,
                    width: paper_canvas_width,
                    height: paper_canvas_height,
                    gridSize: 1,
                    model: graph,
                    //snapLinks: true,
                    //linkPinning: false,
                    embeddingMode: true,
                    interactive: false
                });


                var nsmodel = new joint.shapes.devs.NSModel({
                    position: {x: 20, y: 20},
                    size: {width: paper_canvas_width - 40, height: paper_canvas_height - 40},
                    outPorts: ext_vlinks,
                    attrs: {
                        '.label': {text: 'NS ' + nsd.nsd.name}
                    }

                });

                graph.addCell(nsmodel);

                $.each(nsd.nsd.vld.virtual_links, function (vlink_index, vlink) {

                    var networkmodel = new joint.shapes.devs.ExtNetworkModel({
                        position: {x: 50, y: 300 + (vlink_index + 1) * 50},
                        size: {width: paper_canvas_width - 100, height: 25},
                        attrs: {
                            '.label': {text: vlink.alias+'('+vlink.vld_id+')'}
                        }
                        //outPorts: ['external']
                    });

                    //networkmodel.toBack();
                    networkmodel.attr({'.body': {stroke: network_colors[vlink_index]}});
                    networkmodel.attr({'.body': {fill: network_colors[vlink_index]}});

                    graph.addCell(networkmodel);
                    nsmodel.embed(networkmodel);

                });

                var number_of_vnfs = constituent_vnfs.length;
                var number_of_vlinks = nsd.nsd.vld.virtual_links.length;

                var vnf_width = (paper_canvas_width - 90) / number_of_vnfs;

                $.each(constituent_vnfs, function (vnfd_index, vnfd) {

                    var connection_points = [];

                    $.each(vnfd.vlinks, function (v_index, vl) {
                        if (vl.external_access) {
                            //connection_points.push(vnfd.id+":"+vl.id);
                            connection_points.push("CP_VNF#"+vnfd.id+":ext_"+vl.alias);

                        }
                    });

                    var vnfmodel = new joint.shapes.devs.VNFModel({
                        position: {x: (vnfd_index * vnf_width) + 50, y: 80},
                        size: {width: vnf_width - 10, height: 200},
                        outPorts: connection_points,
                        attrs: {
                            '.label': {text: vnfd.name},
                            '.cpu-label': {text: '#'+vnfd.id},
                            '.ram-label': {text: ''},
                            '.storage-label': {text: ''}
                        }
                    });

                    graph.addCell(vnfmodel);
                    nsmodel.embed(vnfmodel);

                    $.each(nsd.nsd.vld.virtual_links, function (vlink_index, vlink) {

                            var vlink_connection_points = [];

                            console.log("VL"+vlink.alias+" "+vlink.vld_id);

                            $.each(vnfd.vlinks, function (v_index, vl) {
                                if (vl.external_access) {
                                    //vlink_connection_points.push("VNF#"+vnfd.id+":ext_"+vl.alias);
                                    console.log("VNF#"+vnfd.id+":ext_"+vl.alias);

                                    vlink_connection_points.push("VNF#"+vnfd.id+":ext_"+vl.alias);
                                }
                            });

                            var vlinknetworkmodel = new joint.shapes.devs.NetworkModel({
                                position: {x: (vnfd_index * vnf_width) + 50, y: 300 + (vlink_index + 1) * 50},
                                size: {width: vnf_width - 10, height: 20},
                                inPorts: vlink_connection_points,
                            });

                            graph.addCell(vlinknetworkmodel);
                            vnfmodel.embed(vlinknetworkmodel);


                            //connect(vnfmodel, "3065:vl0", vlinknetworkmodel, "VNF#3065:ext_management");
                            $.each(vlink.connections, function (c_index, con) {
                                if (con.includes(vlink.alias) && con.startsWith("VNF#"+vnfd.id)) {

                                    console.log(vlink.alias+" __ connection <> " + "CP_" + con + " <to> " + con);
                                    connect(vnfmodel, "CP_" + con, vlinknetworkmodel, con);
                                }
                            });


                            console.log("--------");
                    });





                });


            });


        });

    </script>


</head>
<body>

<div id="paperCanvas" style="width:790px;height:600px" data-id="{{  ns_id }}">
    <div id="paper"></div>
</div>

<script type="text/javascript">


</script>

<!--<div id="canvas" data-id="{{  vnfd_id }}">-->
<!--<div class="vnf">-->
<!--<div class="vnf-header">VNF #{{ vnfd_id }}</div>-->
<!--<div class="vdus">-->
<!--&lt;!&ndash;<div class="vdu" id="vdu0">vdu0</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="vdu" id="vdu1">vdu1</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="vdu" id="vdu2">vdu2</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="vdu" id="vdu3">vdu3</div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="networks">-->
<!--&lt;!&ndash;<div class="network net0" id="net0">Management</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="network net1" id="net1">Data</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="network net2" id="net2">Storage</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="network net3" id="net3">Storage</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<script src="{% static 'dashboard/js/vnfdiagram.js' %}"></script>-->
</body>
</html>