<div class="col-xs-12" ng-controller="MonitoringController">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-eye"></i> Monitoring</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">

        </div>
        <div class="box-footer">
            <div class="pull-right">

            </div>
        </div>
    </div>
</div>