<div class="col-xs-12" ng-controller="VNFListCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-cubes"></i> VNFs</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" ng-show="hasRole('Function Provider')" ng-click="$state.go('index.vnfs.new')"><i class="fa fa-cube"></i> New VNF</button>
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive" id="no-more-tables">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th style="width: 600px">Description</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="vnf in vnfs">
                        <td data-title="ID">#[[vnf.id]]</td>
                        <td data-title="Name">[[vnf.name]]</td>
                        <td style="width: 600px" data-title="Description">[[vnf.description]]</td>
                        <td data-title="Action">
                            <div class="box-tools pull-right">
                                <a target="_blank" href="/vnfs/[[vnf.id]]/vnfd" class="btn btn-info btn-sm" role="button"><i class="fa fa-file-text-o"></i> VNFD</a>
                                <button class="btn btn-default btn-sm" ng-click="showVNFDEditor(vnf.id)"><i class="fa fa-edit"></i> YAML Editor</button>
                                <button class="btn btn-default btn-sm" ng-click="showAModal(vnf.id)"><i class="fa fa-tv"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="VNFDeleteConfirm(vnf.id, vnf.name)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                [[vnfs.length]] VNFs
            </div>
        </div>
    </div>
</div>