<div class="col-xs-12" ng-controller="SLAChartsCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-object-ungroup"></i> SLA Agreement [[agreementID]]</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <highchart id="chart1" config="highchartsNG"></highchart>
        </div>
        <div class="box-footer">
            <div class="pull-right">

            </div>
        </div>
    </div>
</div>