<div class="col-xs-12" ng-controller="UserEditCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pencil"></i> Edit User</h3>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Username</label>
                    <input class="form-control" type="text" ng-model="user.username">
                </div>
                <div class="form-group col-md-12">
                    <label>Company</label>
                    <input class="form-control" type="text" ng-model="user.company_name">
                </div>
                <div class="form-group col-md-12">
                    <label>Email</label>
                    <input class="form-control" type="text" ng-model="user.email">
                </div>
                <div class="form-group col-md-12">
                    <label>Role</label>
                    <ui-select class="form-group"  multiple ng-model="user.groups" ng-disabled="disabled">
                        <ui-select-match placeholder="">[[$item.name]]</ui-select-match>
                        <ui-select-choices repeat="group.id as group in available_groups">
                            <span ng-bind-html="group.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label>First name</label>
                    <input class="form-control" type="text" ng-model="user.first_name">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label>Last name</label>
                    <input class="form-control" type="text" ng-model="user.last_name">
                </div>
                <div class="form-group col-md-4 col-sm-12 col-xs-12">
                    <label>Address</label>
                    <input class="form-control" type="text" ng-model="user.address"/>
                </div>
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label>City</label>
                    <input class="form-control" type="text" ng-model="user.city"/>
                </div>
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label>Country</label>
                    <ui-select class="form-group" ng-model="user.country" ng-disabled="disabled">
                        <ui-select-match placeholder="">[[$select.selected.name]]</ui-select-match>
                        <ui-select-choices repeat="country.code as country in available_countries | filter: $select.search">
                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                            <small ng-bind-html="country.code | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="box-footer no-padding">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" ng-click="updateUser()"><i class="fa fa-refresh"></i> Update</button>
            </div>
        </div>
    </div>
</div>