<div class="col-xs-12" ng-controller="BillingRevCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-money"></i> Billing - Revenue Sharing<h5> From: [[billing.from]], To:[[billing.to]]</h5></h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive" id="no-more-tables">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>Time</th>
                        <th>Instance ID</th>
                        <th>Provider</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Final Price</th>
                    </tr>
                    <tr ng-repeat="revenue in billing.revenues">
                        <td data-title="Time">[[ revenue.time ]]</td>
                        <td data-title="Instance ID">[[ revenue.instanceId ]]</td>
                        <td data-title="Provider">[[ revenue.provider ]]</td>
                        <td data-title="Price">[[ revenue.priceUnit ]] [[ revenue.price ]]</td>
                        <td data-title="Discount">[[revenue.discountValue]]%</td>
                        <td data-title="Final Price">[[revenue.finalPrice]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                [[billing.revenues.length]] Revenues
            </div>
        </div>
    </div>
</div>