<div class="col-xs-12" ng-controller="ServiceListCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-cogs"></i> Services</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" ng-show="hasRole('Service Provider')" ng-click="$state.go('index.services.new')"><i class="fa fa-cog"></i> New Service</button>
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive" id="no-more-tables">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#Service UUID</th>
                        <th>Name</th>
                        <th style="width: 600px">Description</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="service in services">
                        <td data-title="ID">#[[service.nsd.id]]</td>
                        <td data-title="Name">[[service.nsd.name]]</td>
                        <td data-title="Description" style="width: 600px">[[service.nsd.description]]</td>
                        <td data-title="Action">
                            <div class="box-tools pull-right">
                                <!-- <a target="_blank" href="/services/[[service.id]]/nsd" class="btn btn-info btn-sm" role="button"><i class="fa fa-file-text-o"></i> NSD</a> -->

                                 <a target="_blank" href="/service-catalog/service/catalog/[[service.nsd.id]]" class="btn btn-info btn-sm" role="button"><i class="fa fa-file-text-o"></i> NSD</a>
                                <!--<button class="btn btn-default btn-sm" ng-click="showNSDEditor(service.id)"><i class="fa fa-edit"></i> YAML Editor</button>-->
                                <button class="btn btn-default btn-sm" ng-click="showNSModal(service.nsd.id)"><i class="fa fa-tv"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="NSDDeleteConfirm(service.nsd.id, service.nsd.name)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                [[services.length]] Services
            </div>
        </div>
    </div>
</div>