<div class="col-xs-12" ng-controller="UsersListCtrl">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" ng-click="$state.go('index.users.new')"><i class="fa fa-user-plus"></i> New User</button>
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive" id="no-more-tables">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td data-title="ID">[[user.id]]</td>
                        <td data-title="Username">[[user.username]]</td>
                        <td data-title="Company">[[user.company_name]]</td>
                        <td data-title="Email">[[user.email]]</td>
                        <td data-title="Roles">
                            <span ng-repeat="group_id in user.groups" class="label [[ getGroupName(group_id) | lowercase ]]"> </span>
                        </td>
                        <td data-title="Action">
                            <div class="box-tools pull-right">
                                <button class="btn btn-info btn-sm" ui-sref="index.users.edit({userID:user.id})"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="userDeleteConfirm(user.id, user.username)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                [[users.length]] Users
            </div>
        </div>
    </div>
</div>