<div class="row login" ng-controller="RegisterCtrl">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 form-box">
        <div class="form-top">
            <span class="form-top-title">Registration</span>
        </div>
        <div class="form-bottom">
            <form role="form" class="login-form">
                <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" ng-model="user.username" name="form-username" placeholder="Username" class="form-username form-control" id="form-username" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Username</label>
                    <input type="text" ng-model="user.email" name="form-email" placeholder="Email" class="form-email form-control" id="form-email" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" ng-model="user.password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password-confirm">Password</label>
                    <input type="password" ng-model="user.password_confirm" name="form-password-confirm" placeholder="Password Confirm" class="form-password-confirm form-control" id="form-password-confirm" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-company-name">Username</label>
                    <input type="text" ng-model="user.company_name" name="form-company-name" placeholder="Company Name" class="form-company-name form-control" id="form-company-name" required>
                </div>

                <div class="form-group row default-row">
                    <div class="btn-group col-md-12">
                        <label class="btn btn-default col-md-6" ng-model="user.group" uib-btn-radio="'2'">Customer</label>
                        <label class="btn btn-default col-md-6" ng-model="user.group" uib-btn-radio="'4'">Function Provider</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-click="doRegister()">Register</button>
            </form>
            <div class="register-box">
                <a ng-click="$state.go('login')">Login</a>
            </div>
        </div>
    </div>
</div>